body{
    margin: 0;
}
header{
    background-color: black;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
}
nav{
    background-color: black;
    color: red;
    height: 20px;
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
}
aside{
    color: black;
    height: 750px;
    width: 20%;
    float: left;
    font-size: 20px;
}
main{
    background-color: aliceblue;
    height: 750px;
    font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
button{
    background-color: gainsboro;
    font-size: 18px;
}