body{
    margin: 0;
    background-color: aliceblue;
}
header{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
nav{
    color: red;
    height: 20px;
    text-align: left;
    padding: 5px 0;
    font-size: 15px;
}
aside{
    background-color: darkgray;
    color: black;
    height: 760px;
    width: 20%;
    float: left;
    font-size: 20px;
    // 消除 float 带来的颜色覆盖
    overflow: hidden;
}
main{
    height: 750px;
    font-size: 20px;
    padding: 5px;
}
footer{
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
button{
    background-color: gainsboro;
    font-size: 18px;
    border-radius: 5px;
}
.funcItem{
    background-color: darkgray;
}